/* .box{
    width: 800px;
    justify-content: center;
    margin: auto;
} */

/* Content.css */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.box {
    background-color: #fff;
    border-radius: 5px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    padding: 20px;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.content {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.card {
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    line-height: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card br {
    margin-bottom: 10px;
}

.card a {
    color: #0366d6;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}